@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Heebo:wght@300;400;700&family=Roboto:wght@100;400&family=Sacramento&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Heebo", sans-serif;
  border: none;
}

/* header */

header {
  width: 100%;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.navbar-toggler {
  border: none;
}

header a {
  color: #707070;
  padding: 18px;
}

header a:hover {
  color: #000;
}

/*titulo */
.titulo a {
  display: block;
  text-align: center;
  font-family: "Sacramento", cursive;
  font-size: 40px;
  color: #000;
  font-weight: 550;
}
.hero button {
  width: 200px;
  height: 60px;
  font-size: 20px;
  text-transform: uppercase;
  color: #ece9ea;
  background-color: #ff00ae;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 60px;
  margin-left: 150px;
}

.hero button:hover {
  background-color: #dd4493;
  color: #fff;
}
/*herobanner */

.hero {
  display: flex;
  justify-content: space-around;
  font-family: "Sacramento", cursive;
  font-size: 20px;
  font-weight: bold;
  color: #707070;
  height: 650px;
  background-image: url(../img/aaas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  font-size: 40px;
  color: #434242;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
}
.hero p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

/*section estrellas*/

.estrella {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  background-color: #f3f1f1;
  color: #434242;
  max-height: 500px;
}

.estrella h2 {
  font-size: 40px;
  padding-top: 90px;
  text-transform: capitalize;
}

.estrella img {
  width: 300px;
}

/*card en movimiento */

.carrousel .tarjeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f1f1;
  flex-wrap: wrap;
}

.tarjeta .card {
  width: 400px;
  padding: 20px;
  margin: 10px;
  height: 250px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;

  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
}

.card h2 {
  padding: 2px;
  font-weight: 100;
  font-size: 15px;
  text-transform: capitalize;
}
.card h3 {
  font-weight: 100;
  font-size: 15px;
  text-transform: capitalize;
}
.card p {
  font-weight: 200;
  font-size: 16px;
  margin-top: 40px;
}
.icon img {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  float: left;
  padding: 4px;
  border-radius: 150px;
}

.icon img:hover {
  transform: scale(1.09);
  transition: all 0.9s;
}

.card p span {
  color: #f90081;
  font-weight: 300;
}

/*Card precios */

.subscripcion {
  background-color: #faf6f7;
  position: relative;
  padding: 100px;
  text-align: center;
}

.subscripcion h2 {
  text-transform: capitalize;
  padding: 20px;
  font-size: 40px;
  font-weight: 520;
  color: #434242;
}

.subscripcion p {
  font-size: 18px;
  padding: 15px;
}

.compra {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.compra .promo {
  width: 280px;
  height: 400px;
  background-color: #ece9ea;
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
}

.compra .promo .info h3 {
  color: #3e3a3c;
  font-size: 30px;
  font-weight: 300;
}

.promo .info p {
  font-weight: 100;
}

.compra .promo .info button {
  background-color: #f90081;
  color: #fff;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 10px 25px;
  margin-top: 10px;
  font-size: 18px;
}

.compra .promo .info button:hover {
  background-color: #dd4493;
  color: #ece9ea;
}
.compra .promo span {
  font-size: 12px;
  font-weight: 100;
  margin-top: 20px;
  text-align: center;
}

.compra .promo img {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.compra .promo img:hover {
  transform: scale(1.09);
  transition: all 0.9s;
}

/*Section celular */

.celular {
  background-color: #fff;
  text-align: center;
}

.celular h3 {
  font-size: 40px;
  font-weight: bold;
  padding: 60px 0px 2px;
}

.celular p {
  margin-bottom: 30px;
}

.celular img {
  width: 400px;
  height: 300px;
}

.minutos {
  display: flex;
  justify-content: center;
}

.minutos p {
  padding-top: 100px;
}

/*separador globos */

.globo {
  background-color: #ece9ea;
  text-align: center;
  padding: 20px;
}

.globo h3 {
  color: #434242;
  font-size: 40px;
  padding: 25px 0px 2px;
  font-weight: 300;
}

.globo p {
  padding-bottom: 30px;
}

.globo img {
  width: 300px;
  margin-bottom: 30px;
}

.burbuja {
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.burbuja p {
  font-size: 15px;
  color: #3e3a3c;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.globo button {
  background-color: #f90081;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
  font-size: 15px;
  color: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.globo button:hover {
  background-color: #dd4493;
  color: #ece9ea;
}

/*separador limonada */

.limonada {
  background-color: #fff;
  text-align: center;
}

.limonada h3 {
  color: #434242;
  font-size: 40px;
  padding: 25px 0px 2px;
  font-weight: bold;
}

.limonada p {
  font-size: 18px;
  font-weight: 200;
  padding-bottom: 60px;
}

.limonada .giveback {
  color: #f90081;
}

.limonada .pizza img {
  width: 300px;
  height: 280px;
  padding-bottom: 50px;
}

/*separador de marcas */

.marcas {
  background-color: #ece9ea;
  height: 200px;
  text-align: center;
}

.marcas p {
  font-size: 15px;
  padding-top: 30px;
}

/*separador ultimo */

.ultimo {
  height: 500px;
  background-color: #fff;
}

.logo {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.logo .diseno h3 {
  padding: 20px;
}

.logo .diseno p {
  padding: 2px;
}
.logo .diseno {
  width: 400px;
  height: 400px;
  background-color: #fff;
  margin: 20px;
  padding: 30px;
}

.logo .diseno img {
  width: 90px;
}

/*Footer*/

.gridFooter div > div {
  padding: 1rem;
  display: flex;
}

/*grilla footer*/
footer {
  background-color: #000;
  height: 100%;
}
.filas {
  display: flex;
  justify-content: center;
  height: 600px;
}

.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  max-width: 1100px;
  background-color: #000;
  margin-top: 60px;
}

.grilla img {
  width: 50px;
}
.grilla .grande {
  grid-column: 1/6;
  background-color: #000;
}

.grilla button {
  border-radius: 8px;
  margin: 2px;
  border: 1px solid #434242;
  background-color: #000;
  color: #707070;
  padding: 2px;
  width: 150px;
}

.grilla button:hover {
  background-color: #3e3a3c;
}

.grilla i {
  color: aliceblue;
  letter-spacing: 30px;
  font-size: 40px;
}

.grilla i:hover {
  color: #707070;
}

.grilla p {
  color: grey;
  padding: 2px;
  margin-bottom: 4px;
  font-size: 15px;
  font-weight: bold;
}

.grilla ul {
  list-style: none;
  padding: 2px;
  line-height: 40px;
}

.grilla li a {
  color: #f3f1f1;
}

.grilla li a:hover {
  text-decoration: underline;
}

.img {
  background-color: #000;
  border-radius: 10px;
  color: #f3f1f1;
}

.grilla select {
  color: #fff;
  font-size: 15px;
  background-color: #434242;
}

footer p {
  color: aliceblue;
}

.grilla .triple {
  margin-bottom: 30px;
  margin-top: 30px;
}

/*MEDIA QUERYS
Smartphones (portrait & landscape) 
#Dispositivo = Mayoría de teléfonos móviles (vertical y horizontal) 
- Medida estandar pantalla resolucion 320 x 480 
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .nav {
    display: none !important;
  }

  header {
    display: none !important;
  }

  .cuenta {
    display: none !important;
  }

  .titulo a {
    display: none !important;
  }

  .fa-bars{
    font-size: 22px;
    padding: 20px;
  }

  .limon{
    font-size: 25px;
    color: #3e3a3c;
    text-align: center;
    margin-left: 50px;
    padding: 20px;
  }
/* 

div que contenga el ul con las listas y el onclick cerrar
div relativo
onclick X absoluta

  }*/

  

  .fa-times{
    color: #fff;
    font-size: 24px;
    margin-left: 90%;
    padding: 2px;
  }

  .menu {
    width: 70%;
    position: absolute;
    top: 0px;
    background-color: rgb(47, 46, 46);
  }

  .menu li {
    list-style: none;
  }

  .menu li a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(47, 46, 46);
    display: block;
    padding: 12px 30px;
  }

  .renters{
    margin-top: 0px;
  }

  .menu li a:hover {
    text-decoration: underline;
  }

  .red {
    font-size: 40px;
    padding-top: 70%;
    padding-left: 10px;
    text-align: center;
    color: #fff;
    letter-spacing: 12px;
    text-align: center;
    margin-bottom: 40px;
  }

  .hero {
    height: 600px;
  }

  .hero h1 {
    font-size: 26px;
  }

  .hero p {
    margin: auto;
    padding: 0px;
    width: 80%;
  }

  .hero button {
    margin: 30px;
    width: 80%;
    margin-top: 20px;
  }

  .estrella {
    height: 420px;
  }

  .estrella h2 {
    font-size: 25px;
    margin: auto;
  }

  .estrella p {
    margin: auto;
    font-size: 15px;
    padding: 20px;
    width: 98%;
    height: 2px;
  }

  .carrousel .tarjeta {
    max-height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .card-tres {
    display: none !important;
  }
  .card-dos {
    display: none !important;
  }
  .tarjeta .card {
    width: 50%;
    padding: 2px;
    margin: 10px;
    height: 130px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .card h2 {
    padding: 2px;
    font-size: 15px;
  }
  .card h3 {
    font-size: 10px;
  }
  .card p {
    font-size: 10px;
    margin-top: 2px;
    padding: 2px;
  }
  .icon img {
    width: 40px;
    height: 40px;
    padding: 4px;
  }

  .subscripcion {
    padding: 30px;
  }

  .subscripcion h2 {
    padding: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #434242;
  }

  .subscripcion p {
    font-size: 15px;
    padding: 5px;
    width: 60%;
    margin: auto;
  }

  .compra {
    padding: 3px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .compra .promo {
    width: 80%;
    height: 300px;
    background-color: #ece9ea;
    margin: 12px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
  }

  .compra .promo .info h3 {
    color: #3e3a3c;
    font-size: 20px;
    font-weight: 300;
  }


  .compra .promo .info button {
    background-color: #f90081;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 9px;
    margin-top: 10px;
    font-size: 18px;
  }

  .compra .promo span {
    font-size: 10px;
    font-weight: 100;
    margin-top: 10px;
    text-align: center;
  }

  .compra .promo img {
    margin-top: 3px;
    margin-bottom: 2px;
    width: 70px;
    height: 70px;
  }

  .celular {
    margin: auto;
    width: 80%;
  }

  .celular h3 {
    font-size: 25px;
    font-weight: 600;
    color: #434242;
    padding: 10px;
    margin-top: 20px;
  }

  .celular p {
    width: 100%;
    margin: auto;
    font-size: 15px;
  }

  .celular img {
    width: 300px;
    height: 200px;
  }

  .minutos {
    display: flex;
    justify-content: center;
  }

  .minutos p {
    padding-top: 100px;
    font-size: 10px;
  }

  .globo h3 {
    font-size: 25px;
    font-weight: 600;
  }

  .globo p {
    font-size: 15px;
  }

  .globo img {
    width: 300px;
    margin-bottom: 4%;
  }

  .globo button {
    padding: 12px;
    margin-bottom: 50px;
    font-size: 12px;
  }

  .limonada {
    background-color: #fff;
    text-align: center;
  }

  .limonada h3 {
    font-size: 25px;
    font-weight: 600;
  }

  .limonada p {
    font-size: 15px;
    width: 80%;
    margin: auto;
  }

  .limonada .pizza img {
    width: 200px;
    height: 200px;
  }

  .marcas {
    height: 150px;
  }

  .marcas p {
    font-size: 15px;
    width: 70%;
    margin: auto;
  }

  .ultimo {
    height: 100%;
    background-color: #fff;
  }

  .logo {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
  }

  .logo .diseno h3 {
    padding: 5px;
  }

  .logo .diseno p {
    padding: 2px;
  }
  .logo .diseno {
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 10px;
  }

  .logo .diseno img {
    width: 90px;
  }

  /*Footer*/

.gridFooter div > div {
  padding: 1rem;
  display: flex;
}

/*grilla footer*/
footer {
  background-color: #000;
  height: 100%;
}
.filas {
  display: flex;
  justify-content: center;
  height:100%;
}

.grilla {
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  padding: 20px;
}

.grilla img {
  display: none !important;
}
.grilla .grande {
  background-color: #000;
}

.features{
  margin-right: 60px;
  font-size: 16px;
  margin-bottom: 25px;
}

.company{
  margin-bottom: 25px;
}


.grilla ul {
  list-style: none;
  padding: 0px;
  line-height: 25px;
}
.grande p{
  font-weight: 200;
}
.img {
  display: none !important;
}

.grilla i{
  letter-spacing: 30px;
  font-size: 25px;
  margin-bottom: 50px;
  margin-top: 10px;
}

}


/* iPads 
#Dispositivo = Tablets, Ipads  
- Medida estandar de pantalla resolucion 768px to 1024px */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .nav {
    display: none !important;
  }

  header {
    height: 1px;
    padding: 2px;
  }

  .cuenta {
    display: none !important;
  }

  .titulo a {
    display: none !important;
  }

  .navbar {
    height: 98px;
    position: relative;
  }

  .navbar h1 {
    text-align: center;
    padding: 20px 12px;
    font-size: 30px;
  }

  .navbar h1 a {
    color: #3e3a3c;
  }

  .checkbox,
  .icons {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 10px;
    cursor: pointer;
    padding: 10px 12px;
  }

  .icons {
    pointer-events: none;
    font-size: 34px;
    color: #434242;
  }

  .checkbox {
    opacity: 0;
  }

  .checkbox:checked ~ .menu {
    display: block;
    top: 68px;
  }

  .checkbox:checked ~ .fa-bars {
    display: none;
  }

  .fa-times {
    display: none;
  }

  .checkbox:checked ~ .fa-times {
    display: block;
  }

  .menu {
    width: 60%;
    position: absolute;
    top: 68px;
    background-color: rgb(47, 46, 46);
    display: none;
  }

  .menu li {
    list-style: none;
  }

  .menu li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    background-color: rgb(47, 46, 46);
    display: block;
    padding: 10px 12px;
  }

  .menu li a:hover {
    text-decoration: underline;
  }

  .red {
    font-size: 40px;
    padding-top: 100%;
    text-align: center;
    color: #fff;
    letter-spacing: 20px;
  }

  .hero {
    height: 800px;
  }

  .hero h1 {
    font-size: 30px;
  }

  .hero p {
    margin: auto;
    padding: 0px;
    width: 80%;
    font-size: 20px;
  }

  .hero button {
    margin: 30px;
    width: 80%;
    margin-top: 30px;
  }

  .estrella {
    height: 420px;
  }

  .estrella h2 {
    font-size: 30px;
    margin: auto;
  }

  .estrella p {
    margin: auto;
    font-size: 20px;
    padding: 20px;
    width: 98%;
    height: 2px;
  }

  .carrousel .tarjeta {
    max-height: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .tarjeta .card {
    width: 43%;
    padding: 2px;
    margin: 10px;
    height: 230px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .card h2 {
    padding: 2px;
    font-size: 20px;
  }
  .card h3 {
    font-size: 15px;
  }
  .card p {
    font-size: 20px;
    margin-top: 2px;
    padding: 2px;
  }
  .icon img {
    width: 60px;
    height: 60px;
    padding: 4px;
  }

  .subscripcion {
    padding: 30px;
  }

  .subscripcion h2 {
    padding: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #434242;
  }

  .subscripcion p {
    font-size: 20px;
    padding: 5px;
    width: 60%;
    margin: auto;
  }

  .compra {
    padding: 3px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .compra .promo {
    width: 40%;
    height: 250px;
    background-color: #ece9ea;
    margin: 16px;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
  }

  .compra .promo .info h3 {
    color: #3e3a3c;
    font-size: 30px;
    font-weight: 300;
  }

  .promo .info p {
    display: none !important;
  }

  .compra .promo .info button {
    background-color: #f90081;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 9px;
    margin-top: 20px;
    font-size: 16px;
  }

  .compra .promo span {
    font-size: 16px;
    font-weight: 100;
    margin-top: 10px;
    text-align: center;
  }

  .compra .promo img {
    margin-top: 3px;
    margin-bottom: 2px;
    width: 70px;
    height: 70px;
  }

  .celular {
    margin: auto;
    width: 70%;
  }

  .celular h3 {
    font-size: 30px;
    font-weight: 600;
    color: #434242;
    padding: 10px;
    margin-top: 20px;
  }

  .celular p {
    width: 100%;
    margin: auto;
    font-size: 20px;
  }

  .celular img {
    width: 400px;
    height: 400px;
  }

  .minutos {
    display: flex;
    justify-content: center;
  }

  .minutos p {
    padding-top: 100px;
    font-size: 20px;
  }

  .globo h3 {
    font-size: 30px;
    font-weight: 600;
  }

  .globo p {
    font-size: 20px;
  }

  .globo img {
    width: 400px;
    margin-bottom: 4%;
  }

  .globo button {
    padding: 12px;
    margin-bottom: 50px;
    font-size: 20px;
  }

  .limonada {
    background-color: #fff;
    text-align: center;
  }

  .limonada h3 {
    font-size: 30px;
    font-weight: 600;
  }

  .limonada p {
    font-size: 20px;
    width: 80%;
    margin: auto;
  }

  .limonada .pizza img {
    width: 250px;
    height: 250px;
  }

  .marcas {
    height: 150px;
  }

  .marcas p {
    font-size: 16px;
    width: 70%;
    margin: auto;
  }

  .ultimo {
    height: 100%;
    background-color: #fff;
  }

  .logo {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
  }

  .logo .diseno h3 {
    padding: 5px;
  }

  .logo .diseno p {
    padding: 2px;
  }
  .logo .diseno {
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 10px;
  }

  .logo .diseno img {
    width: 90px;
  }

}

/*Dispositivo = Tablets de baja resolución y teléfonos Móviles (horizontal) 
- Medida estandar pantalla resolucion 320 x 480 */
@media (min-width: 481px) and (max-width: 767px) {
  .nav {
    display: none !important;
  }

  header {
    height: 1px;
    padding: 2px;
  }

  .cuenta {
    display: none !important;
  }

  .titulo a {
    display: none !important;
  }

  .navbar {
    height: 48px;
    position: relative;
  }

  .navbar h1 {
    text-align: center;
    padding: 20px 12px;
  }

  .navbar h1 a {
    color: #3e3a3c;
  }

  .checkbox,
  .icons {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    cursor: pointer;
    padding: 10px 12px;
  }

  .icons {
    pointer-events: none;
    font-size: 24px;
    color: #434242;
  }

  .checkbox {
    opacity: 0;
  }

  .checkbox:checked ~ .menu {
    display: block;
    top: 48px;
  }

  .checkbox:checked ~ .fa-bars {
    display: none;
  }

  .fa-times {
    display: none;
  }

  .checkbox:checked ~ .fa-times {
    display: block;
  }

  .menu {
    width: 60%;
    position: absolute;
    top: 48px;
    background-color: rgb(47, 46, 46);
    display: none;
  }

  .menu li {
    list-style: none;
  }

  .menu li a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(47, 46, 46);
    display: block;
    padding: 10px 12px;
  }

  .menu li a:hover {
    text-decoration: underline;
  }

  .red {
    font-size: 30px;
    padding-top: 100%;
    text-align: center;
    color: #fff;
    letter-spacing: 10px;
  }

  .hero {
    height: 650px;
  }

  .hero h1 {
    font-size: 26px;
  }

  .hero p {
    margin: auto;
    padding: 0px;
    width: 80%;
  }

  .hero button {
    margin: 30px;
    width: 80%;
    margin-top: 20px;
  }

  .estrella {
    height: 420px;
  }

  .estrella h2 {
    font-size: 25px;
    margin: auto;
  }

  .estrella p {
    margin: auto;
    font-size: 15px;
    padding: 20px;
    width: 98%;
    height: 2px;
  }

  .carrousel .tarjeta {
    max-height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .card-tres {
    display: none !important;
  }
  .card-dos {
    display: none !important;
  }
  .tarjeta .card {
    width: 50%;
    padding: 2px;
    margin: 10px;
    height: 130px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .card h2 {
    padding: 2px;
    font-size: 15px;
  }
  .card h3 {
    font-size: 10px;
  }
  .card p {
    font-size: 10px;
    margin-top: 2px;
    padding: 2px;
  }
  .icon img {
    width: 40px;
    height: 40px;
    padding: 4px;
  }

  .subscripcion {
    padding: 30px;
  }

  .subscripcion h2 {
    padding: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #434242;
  }

  .subscripcion p {
    font-size: 15px;
    padding: 5px;
    width: 60%;
    margin: auto;
  }

  .compra {
    padding: 3px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .compra .promo {
    width: 42%;
    height: 180px;
    background-color: #ece9ea;
    margin: 12px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
  }

  .compra .promo .info h3 {
    color: #3e3a3c;
    font-size: 16px;
    font-weight: 300;
  }

  .promo .info p {
    display: none !important;
  }

  .compra .promo .info button {
    background-color: #f90081;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 9px;
    margin-top: 10px;
    font-size: 10px;
  }

  .compra .promo span {
    font-size: 10px;
    font-weight: 100;
    margin-top: 10px;
    text-align: center;
  }

  .compra .promo img {
    margin-top: 3px;
    margin-bottom: 2px;
    width: 45px;
    height: 45px;
  }

  .celular {
    margin: auto;
    width: 80%;
  }

  .celular h3 {
    font-size: 25px;
    font-weight: 600;
    color: #434242;
    padding: 10px;
    margin-top: 20px;
  }

  .celular p {
    width: 100%;
    margin: auto;
    font-size: 15px;
  }

  .celular img {
    width: 300px;
    height: 200px;
  }

  .minutos {
    display: flex;
    justify-content: center;
  }

  .minutos p {
    padding-top: 100px;
    font-size: 10px;
  }

  .globo h3 {
    font-size: 25px;
    font-weight: 600;
  }

  .globo p {
    font-size: 15px;
  }

  .globo img {
    width: 300px;
    margin-bottom: 4%;
  }

  .globo button {
    padding: 12px;
    margin-bottom: 50px;
    font-size: 12px;
  }

  .limonada {
    background-color: #fff;
    text-align: center;
  }

  .limonada h3 {
    font-size: 25px;
    font-weight: 600;
  }

  .limonada p {
    font-size: 15px;
    width: 80%;
    margin: auto;
  }

  .limonada .pizza img {
    width: 200px;
    height: 200px;
  }

  .marcas {
    height: 150px;
  }

  .marcas p {
    font-size: 15px;
    width: 70%;
    margin: auto;
  }

  .ultimo {
    height: 100%;
    background-color: #fff;
  }

  .logo {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
  }

  .logo .diseno h3 {
    padding: 5px;
  }

  .logo .diseno p {
    padding: 2px;
  }
  .logo .diseno {
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 10px;
  }

  .logo .diseno img {
    width: 90px;
  }

  footer {
    width: 100%;
  }

  .grilla img {
    display: none !important;
  }

  .grilla i {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

/* Ordenadores de sobremesa y portátiles
- Medida estandar de pantalla resolucion : 1224px */
@media only screen and (min-width: 1024px) {
  .navbar {
    display: none !important;
  }

  .marcas {
    height: 200px;
  }

  .marcas p {
    text-align: center;
    width: 80%;
    margin: auto;
  }

  footer {
    width: 100%;
    height: 800px;
  }
}

/* Pantallas grandes
@media only screen and (min-width : 1824px) {
 
  header .respmenu{
    display: none !important;
  }

 

  header a{
    font-size: 16px;
    text-align: center;
    padding: 20px 30px 20px 0px;
  }

  .titulo a{
    margin-top: 25px;
    font-size: 40px;
  }

  .hero{
    width: auto;
    margin: auto;
    text-align: center;
    height: 720px;
  }

  .hero h1{
    text-align: center;
    font-size: 50px;
    padding: 5px;
    margin-top: 10px;
  }

  .hero p{
    font-size: 16px;
    margin: auto;
    margin-bottom: 80px;
  }

  .hero button{
    width: 300px;
    height: 50px;
    margin: auto;
    font-size: 16px;
  }

  .estrella{
    align-items: center;
    text-align: center;
    background-color: #ece9ea;
  }

  .estrella h2{
    font-size: 40px;
    margin: auto;
  }

  .estrella p{
    font-size: 25px;
    margin-top: 20px;
    padding: 10px;
  }

  .carrousel .tarjeta{
    width: 100%;
    background-color: #ece9ea;
  }

  .tarjeta .card{
    margin: auto;
    width: 400px;
    height: 220px;
    padding: 20px 5px 5px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .subscripcion h2{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 30px;
  }

  .subscripcion p{
    font-size: 30px;
  }

  .marcas p{
    font-size: 20px;
  }

  .compra{
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .compra .promo{
    height: 430px;
    margin: auto;
    margin-bottom: 40px;
  }

  .info button{
    width: 180px;
    height: 70px;
  }

  .info p{
    font-size: 20px;
    width: 280px;
    padding-bottom: 20px;
  }

  .celular{
    width: 400px;
    margin: auto;
  }

  .celular h3{
    margin: auto;
    width: 400px;
    font-size: 60px;
  }

  .celular p{
    font-size: 25px;
  }

  .celular img{
    width: 400px;
    height: 400px;
  }

  .minutos p{
    font-size: 40px;
  }

  .marcas{
    width: 100%;
    max-height: 300px;
  }

  .ultimo{
    width: 100%;
    min-height: 500px;
    
  }

  .logo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .logo .diseno p {
    padding: 20px;
  }

  footer{
   width: 100%;
   height: 1000px;
  }

  .grilla{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 900px;
    padding: 10px;
  }

  .grilla .region{
    padding: 40px;

  }
  
  .grilla .grande {
  width: 900px;
  padding: 20px;
  }

  .grilla img{
  width: 50px;
  }
 } */
